html {
    scroll-behavior: smooth;
}

:root {
    --bridgerton-blue: #a3c1ad;
    --royal-gold: #d4af37;
    --cream: #fffdf5;
    --dark: #2c3e50;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cream);
    color: var(--dark);
    scroll-behavior: smooth;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Essential for making rows of cards */
}


header {
    background: white;
    padding: 20px 5%;
    border-bottom: 3px double var(--royal-gold);
    position: sticky; 
    top: 0;
    z-index: 1000; 
}

.navbar { justify-content: space-between; }
.nav-links { list-style: none; gap: 30px; }
.nav-links a { text-decoration: none; color: var(--dark); font-weight: 600; }


.hero {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url('https://hips.hearstapps.com/hmg-prod/images/the-bridgerton-residence-1609364813.jpg?resize=980:*') center/cover;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero-content { max-width: 800px; }
.hero-content h2 { font-family: 'Playfair Display', serif; font-size: 3.5rem; margin-bottom: 15px; }


#cast { padding: 80px 5%; }
.section-title { font-family: 'Playfair Display', serif; text-align: center; margin-bottom: 50px; font-size: 2.5rem; }

.cast-grid { gap: 30px; }

.cast-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 260px;
    text-align: center;
    transition: all 0.4s ease; /* Controls the hover speed */
    cursor: pointer;
    border: 1px solid transparent;
}


.cast-card:hover {
    transform: scale(1.07); 
    border: 1px solid var(--royal-gold);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.cast-card h3 { margin-top: 10px; font-family: 'Playfair Display', serif; }
.cast-card p { font-size: 0.85rem; color: #777; font-style: italic; }

.card-img {
    height: 300px;
    background-color: #eee;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}


.anthony { background-image: url('./anthony.jpg'); }
.benedict { background-image: url('./benedict.jpg'); }
.colin { background-image: url('./colin.jpg'); }
.daphne { background-image: url('./daphne.jpg'); }
.eloise { background-image: url('./eloise.jpg'); }
.francesca { background-image: url('./francesca.jpg'); }
.gregory { background-image: url('./gregory.jpg'); }
.hyacinth { background-image: url('./hyacinth.jpg'); }
.penelope { background-image: url('./penelope.jpg'); }
.simon { background-image: url('./simon.jpg'); }
.charlotte { background-image: url('./queen.jpg'); }
.lady-d { background-image: url('./lady.jpg'); }

footer { background: var(--dark); color: white; text-align: center; padding: 40px; margin-top: 50px; }
